.light-rays {
	position: absolute;
	inset: 0;
	overflow: hidden;
	pointer-events: none;
}

.light-rays__ray {
	position: absolute;
	top: -20%;
	height: 140%;
	background: linear-gradient(180deg,
		var(--alpha-white-25) 0%,
		var(--alpha-white-15) 20%,
		var(--alpha-white-5) 50%,
		transparent 100%
	);
	transform-origin: top center;
	transform: rotate(var(--angle, 0deg));
	animation: anim-pulse-ray var(--ray-duration, 5s) ease-in-out infinite var(--ray-delay, 0s);
	filter: blur(var(--blur-lg));
}

.light-rays__ray:nth-child(1) { --angle: -15deg; --ray-duration: 4s;   --ray-delay: 0s;    left: 5%;   width: 200px; }
.light-rays__ray:nth-child(2) { --angle: -15deg; --ray-duration: 5s;   --ray-delay: -1s;   left: 20%;  width: 250px; }
.light-rays__ray:nth-child(3) { --angle: -15deg; --ray-duration: 4.5s; --ray-delay: -2.5s; left: 40%;  width: 220px; }
.light-rays__ray:nth-child(4) { --angle: -15deg; --ray-duration: 5.5s; --ray-delay: -0.5s; left: 55%;  width: 280px; }
.light-rays__ray:nth-child(5) { --angle: -15deg; --ray-duration: 4s;   --ray-delay: -3s;   left: 70%;  width: 200px; }
.light-rays__ray:nth-child(6) { --angle: -15deg; --ray-duration: 6s;   --ray-delay: -1.5s; left: 85%;  width: 240px; }
